:root {
  --color-font: #1d3046;
  --color-bg: #f2f5fa;
  --color-bg-blue: #e2e9f5;
  --color-shadow: #e6e8eb;
  --color-gray: #0000008a;
}

#app {
  font-family: 'Poppins', sans-serif;
}

.container {
  padding-block: 48px;
}
